.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 10;
  top: 0;
  width: 255px;
  display: flex;
}

.toolbar {
  display: flex;
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.example-is-mobile .toolbar {
  display: flex;
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
}

h1.example-app-name {
  padding-left: 16px;
  width: 255px;
  font-weight: bold;
}

.example-is-mobile h1.example-app-name {
  padding-left: 8px;
  width: 255px;
  font-weight: bold;
}


.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 0 auto;
  margin-top: 4rem;
}

.example-is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  margin-top: 3.5rem;
}

.nav-list {
  margin-top: 4rem;
}

.example-is-mobile .nav-list {
  margin-top: 3.5rem;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.mat-sidenav {
  width: 255px;
}

.rounter-outlet {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-drawer-container {
  position: unset !important;
}

.mat-drawer-content {
  position: unset !important;
}

.hide {
  display: none;
}

.sidenav-menu-icon {
  margin-right: 0.6rem;
  padding-bottom: 1.7rem;
  font-size: 24px;
}

.sidenav-premium-icon {
  margin-left: 0.4rem;
  font-size: 20px;
}

.premium-feature {
  color: gray !important;
}

.sub-mat-list-item {
  padding-left: 1.3rem !important;
}
