<div *ngIf="loading">
  <span class="k-icon k-i-loading"></span>
</div>

<mat-toolbar color="primary" class="toolbar">
  <h1 class="example-app-name" [class.example-is-mobile]="mobileQuery.matches" [class.hide]="!snav.opened">Angular Go</h1>
  <button mat-icon-button aria-label='Menu' (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span [class.hide]="mobileQuery.matches && snav.opened">{{title}}</span>
  <span class="example-spacer"></span>
  <span>
    <button mat-icon-button aria-label='More' [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setLanguage()">
        <mat-icon>language</mat-icon>
        <span>{{ 'LANGUAGE' | translate}}</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>

<div class="basic-container" class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="true" [opened]="!mobileQuery.matches"
      fixedTopGap="0">
      <mat-nav-list class="nav-list" [class.example-is-mobile]="mobileQuery.matches">
        <ng-container *ngFor="let item of items">
          <a mat-list-item (click)="navigate(item.name, item.routerLink, snav)">
            <mat-icon class="sidenav-menu-icon">{{ item.icon }}</mat-icon>{{ item.name }}</a>
          <mat-list>
            <div *ngFor="let subItem of item.subItems">
              <a mat-list-item (click)="navigate(subItem.name, subItem.routerLink, snav)" class="sub-mat-list-item" >
                <mat-icon class="sidenav-menu-icon">{{ subItem.icon }}</mat-icon>{{ subItem.name }}
              </a>
            </div>
          </mat-list>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <div class="rounter-outlet">
        <router-outlet>
        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
