
.mat-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-card-content {
  padding: 0.1rem;
}

.sample-list {
  width: 100%;
}

.table-cell {
  font-size: 80%;
  padding: 0.2rem;
}

.mat-card-actions {
  text-align: right;
  padding-right: 1rem;
}

.refresh-button {
  margin-top: -0.26rem;
}
