<div class="container">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required maxlength=256 [(ngModel)]="model.email" name="email" #email="ngModel" email>
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Email is required
      </div>

      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required maxlength=256 [(ngModel)]="model.password" name="password"
        #password="ngModel">
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div>

    </div>


    <button mat-raised-button color="primary" [disabled]="!userForm.form.valid">Login</button>
  </form>
</div>
